body {
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  padding: 0px;
  margin: 24px auto;
  max-width: 1128px;
}

.gallery-link {
  width: 360px;
  height: 200px;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.basicLightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
